
<section class="banner1" id="banner1">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Say something</h2><br>
                    <h4>by Burger Company</h4>
                    <hr class="section-heading-spacer">
                    <p class="lead">Lorem ipsum something Lorem ipsum Lorem ipsum something Lorem ipsum Lorem ipsum something Lorem ipsum</p></p>
                </div>
              
            </div>

        </div>
        <!-- /.container -->

    </div>
</section> <!-- /.banner1 -->