<style>
.btn-lg{

    font-size:  29px;
    border-radius: 0px;
}
</style>

   <!-- Header -->
  <section id="top">  <a name="about"></a>
    <div class="intro-header" id="header_landing">
        <div class="container">

            <div class="row-fluid">
                <div class="col-lg-12">
                       
                    <div class="intro-message" id="intro-message">
                        <h1>TIMELOG</h1>
                        <h3>Wake up happy yay </h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                
                              <%= link_to "SIGN IN", new_user_session_path, :class => 'btn btn-default btn-lg', :id => 'btn_signup2' %></li>
                             <!--   <a href="#" class="btn btn-default btn-lg" id="btn_signup2">SIGN UP</a> -->
                            </li>
                            <li>
 <%= link_to "SIGN UP", new_user_registration_path, :class => 'btn btn-default btn-lg'  , :id => 'btn_signup2' %>
                           <!-- <a href="#"class="btn btn-default btn-lg" id="btn_signup2">SIGN IN</a> -->

                            </li>
                          
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    </section>
    <!-- /.intro-header -->
  <%= render 'users/landingbanner' %>

   <%= render "devise/registrations/form" %> 
