<br/><br/><br/><br/>


<div class="container">

<table class="table">
<div class="dashboard" id="dashboard">
	<div class="dashboard-header" id="dashboard-header">
	New Time Entry
			</div>
	<br/>
<%= render 'form' %>

<%= link_to 'Back', time_entries_path %>

</div>
</table>
</div>