<br/><br/><br/><br/>


<div class="container">


	<div class="dashboard" id="dashboard">
		<div class="dashboard-header" id="dashboard-header">
		New Time Entry
				</div>
		<br/>
	<%= render 'form' %>

	<%= link_to 'Back', time_entries_path %>

	</div>

</div>