// Place all the styles related to the UserSettings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#btn_destroy_usersettings{
  border: 2px solid #EA4141;
  color: #EA4141;
}
#btn_destroy_usersettings:hover{
  border: 2px solid #EA4141;
  background-color: #EA4141;
  color: white;
}
#btn_edit_usersettings{
  border: 2px solid B479CD;
}