// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#banner1 {
  padding: 50px 15px;
}

#signup_heading {
  color: white;
  background-color: transparent;
}
#label_signup {
  color: white;
}
#header_signup {
    padding-top: 20px;
    padding-bottom: 50px;
    background-image: url(intro-bg.jpg);

    background-size: cover;
}
#panel-heading{
  background-color: black;
  color:white;


}

#btn_send {
  width:360px;
  background-color: transparent;
  border: 2px solid #59FF82;
  color: #59FF82;

}

#btn_send:hover {
  background-color: #59FF82;
  color: white;
}
#linkthing:hover{
  background-color: transparent;
  font-weight:bold;
  color: blue;
}
#linkthing1{

  color: black;
}
#linkthing1:hover{
  background-color: transparent;
  font-weight:bold;
  color: red;
}
#signup {
border: 2px solid #FFF;
background-color: transparent;
color: #FFF;
  width: 200px;
}
#signup:hover {
background-color: rgba(255, 255, 255, 0.9);
color: #100F0F;
border: none;
  width: 200px;
}

#btn_updates {
  background-color: transparent;
  border: 2px solid #B479CD;
  color: #B479CD;
  margin-left: 82%;
}

#btn_updates:hover {
  background-color: #A78EC8;
  color: white;
  border: 2px solid white;
}


#btn_signup2 {
  font-family: Oswald;
  background-color: transparent;
  border: 5px;
  color: white;
  border: 2px solid white;
}

#btn_signup2:hover{
  background-color:rgba(255, 255, 255, 0.2);


}
#header_landing {
    padding-top: 20px;
    padding-bottom: 50px;
    
    color: #f8f8f8;
    background-image: url(intro-bg2.jpg);

    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 15%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

#editprof{
	border-color:#A78EC8;
}

#signin_nav {
		background-color:white;	
}
#signout_nav {
		background-color:white;	
}
.glyphicon {
  font-size: 20px;
  color: #5d3b8e;
  letter-spacing:6px;
}
.glyphicon:hover {
  color: white;
  background-color: transparent;
}

#btn_signin {
  	color: #A78EC8;
}
#btn_signup {
  	color: #A78EC8;
}
#destroy:hover {
	color:white;
}


#dashboard {
  background-color:white;
  font-family: Century Gothic;
}
#dashboard-header {
  background-color:#212121;	
  height:40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 1px 2px 2px #aaa;
  padding: 1px 15px;
  font-size: 30px;
  color: #fff;
  font-family: 'Oleo Script', cursive;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a,.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: white;
    border-color: #A78EC8;
    font-family: Century Gothic;
    border-radius: 5px;
  }

.navbar-nav > li{

  padding-top:10px;
  padding-left:20px;
  padding-right:20px;
  font-family: 'Oswald','Open Sans Condensed';
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  color: #777;
  letter-spacing: 0;

}
.navbar-nav > li a:hover{
   font-weight:bold;
  }
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

* {
	margin: 0;
	padding: 0;
	outline: none;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


body {
    background: #eee;
    color: #444;
    -webkit-font-smoothing: antialiased;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}

div.wrapper {
  margin: 20px auto;
  width: 350px;
}

p {
  font-family: georgia;
  font-size: 18px ;
  line-height: 25px;
  margin: 24px 0;
  text-align: center;
}

nav.vertical {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
  overflow: hidden;
  text-align: center;
}

  nav.vertical > ul {
    list-style-type: none;
  }

    nav.vertical > ul > li {
      display: block;

    }

      nav.vertical > ul > li > a {
        background-color: rgb(157, 34, 60);
        background-image: -webkit-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        background-image: -moz-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        background-image: -o-linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        background-image: linear-gradient(135deg, rgb(114, 51, 98), rgb(157, 34, 60));
        border-bottom: 1px solid rgba(255,255,255,.1);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);
        color: rgb(255,255,255);
        display: block;
        font-size: .85rem;
        font-weight: 500;
        height: 50px;
        letter-spacing: .5rem;
        line-height: 50px;
        text-shadow: 0 1px 1px rgba(0,0,0,.1);
        text-transform: uppercase;
        transition: all .1s ease;
        text-decoration: none;
      }

        nav.vertical > ul > li > a:hover {
         background-color: rgb(114, 51, 98);
         background-image: -webkit-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: -moz-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: -o-linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98));
         background-image: linear-gradient(150deg, rgb(114, 51, 98), rgb(114, 51, 98)); 
         cursor: pointer;

        }
        
          nav.vertical > ul > li > div {
            background-color: rgb(255,255,255);
          }
 
          nav.vertical > ul > li > div > ul {
            list-style-type: none;
          }

            nav.vertical > ul > li > div > ul > li > a {
             background-color: rgb(255,255,255);
             border-bottom: 1px solid rgba(0,0,0,.05);
             color: #333331;
             display: block;
             font-size: 1.1rem;
             padding: 10px 0;
             text-decoration: none;
             transition: all 0.15s linear;
            }

              nav.vertical > ul > li > div > ul > li:hover > a {
                background-color: lightBlue;
                color: rgb(255,255,255);
                padding: 10px 0 10px 50px;
              }

